<div class="row">
  <div class="col-md-7 banner">
    <h1><span class="text-red">Shorty</span> Shorten your looooooooong URL in the box below!</h1>
    <br><br>
    <%= form_for @link, remote: true do |f| %>
      <%= f.text_field :url, class: "form-control", required: true %>
    <br><br>
    <%= f.submit "Shorten", class: "btn btn-primary btn-block", id: 'submit' %>
    <% end %>
  </div>
  <div class="col-md-5">
    <img class="img-responsive" src="<%= image_path "break-dance.png"%>" alt="break-dance">
  </div>
</div>
