<div class="row">
  <div class="col-md-7 banner">
    <h1><span class="text-red">Shorty</span> Shorten your looooooooong URL with us today!</h1>
  </div>
</div>

<%= form_for @link, remote: true do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :url, class: "form-control", required: true %>
    </div>
  </div>
  <br/><br/>

  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <%= f.submit "Shorten", class: "btn btn-primary btn-block", id: 'submit' %>
    </div>
  </div>
<% end %>
